* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('../assets/HomeBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

iframe {
  width: 25%;
  height: 25%;
  aspect-ratio: 2.39/1;
}

nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #1a0030, #2d0060);
}

nav a {
  color: #c084fc;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: white;
}

main {
  padding: 40px 20px;
}

h1 {
    display: inline-block;
  background: linear-gradient(135deg, #9333ea, #c084fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 48px;
  margin-bottom: 16px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #6b21a8;
  font-size: 14px;
}